<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Containers</title>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a rel="_self" href="/containers">Containers</a>
        </li>
        <li>
          <a rel="home" href="/">Home</a>
        </li>
      </ul>
    </nav>

    <ul class="containers">
      <li>Container 1</li>
      <li>Container 2</li>
    </ul>
  </body>
</html>
